.navbar {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
}
.navbar-logo img {
  height: 40px;
  color:#3b5ac2;
}

.active {
  color: #3b5ac2;
}

.nav-link.active {
  color: #3b5ac2;
}

.blue-icon {
  color:#3b5ac2;
}
